@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-nunito-sans);
	--font-display: var(--font-nunito-sans);
	--font-body: var(--font-nunito-sans);
	--font-geist: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

.yellow-shadow:before {
	content: '';
	position: absolute;
	top: 9px;
	left: 9px;
	width: 100%;
	height: 100%;
	background: #dbff79;
	border: 1px solid #000;
	border-radius: 0.5rem;
	z-index: -1;
	pointer-events: none;
}

.yellow-shadow {
	position: relative;
	border: 1px solid #000;
	border-radius: 0.5rem;
}
